*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url("../images/hero-image3.avif");
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #4b4343;
    font-size: 20px;
    font-weight: 300px;
    padding-top: 10px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.right-col{
    margin-left: 20%;
   
}

.right-col h2{
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(140, 134, 138);
    line-height: 110px;
    float: left;
    
}

h1{
    color: rgb(91, 84, 84);
    font-size: 70px;
    margin-left: 3%;
    padding-top: 15px;
}